<% title edit(:article) %>

<% content_for :article_links do %>
  <div id="bottom_links"><%= link_to t(:show), @article %></div>
<% end %>

<%= render 'articles/form', :button_label => update(:article) %>
