/* line 20, ../../app/stylesheets/default.sass */
div#site_nav {
  float: left;
  border: 1px solid black;
  padding: 2px 5px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #ffffff), color-stop(100%, #cccccc));
  background-image: -moz-linear-gradient(top, #ffffff 0%, #cccccc 100%);
  background-image: linear-gradient(top, #ffffff 0%, #cccccc 100%);
  margin-bottom: 5px;
}
/* line 27, ../../app/stylesheets/default.sass */
div#site_nav a {
  font-size: 100%;
}

/* line 30, ../../app/stylesheets/default.sass */
div#flash_notice {
  float: left;
  margin-bottom: 5px;
  padding: 3px 10px;
  border: 1px solid white;
  color: white;
  font-weight: bold;
  padding: 5px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #4cc417), color-stop(100%, #339966));
  background-image: -moz-linear-gradient(top, #4cc417 0%, #339966 100%);
  background-image: linear-gradient(top, #4cc417 0%, #339966 100%);
}

/* line 36, ../../app/stylesheets/default.sass */
div#flash_alert {
  float: left;
  margin-bottom: 5px;
  padding: 3px 10px;
  border: 1px solid white;
  color: white;
  font-weight: bold;
  padding: 5px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #ff3333), color-stop(100%, #993333));
  background-image: -moz-linear-gradient(top, #ff3333 0%, #993333 100%);
  background-image: linear-gradient(top, #ff3333 0%, #993333 100%);
}

/* line 43, ../../app/stylesheets/default.sass */
div#container {
  border: 2px solid black;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #ffffff), color-stop(100%, #cccccc));
  background-image: -moz-linear-gradient(top, #ffffff 0%, #cccccc 100%);
  background-image: linear-gradient(top, #ffffff 0%, #cccccc 100%);
}

/* line 48, ../../app/stylesheets/default.sass */
div#user_nav {
  float: right;
}

/* line 51, ../../app/stylesheets/default.sass */
a, span#links {
  text-decoration: none;
  color: #4b7399;
  text-shadow: 1px 1px 1px white;
  padding: 0 1px 0 1px;
  font-size: 85%;
}
/* line 57, ../../app/stylesheets/default.sass */
a:hover, span#links:hover {
  color: white;
  text-shadow: 1px 1px 1px #4b7399;
  padding: 0 1px 0 1p;
}

/* line 62, ../../app/stylesheets/default.sass */
span#authors a {
  font-size: 100%;
}
/* line 64, ../../app/stylesheets/default.sass */
span#authors span.exception {
  color: #4b7399;
  text-shadow: 1px 1px 1px black;
}

/* line 68, ../../app/stylesheets/default.sass */
p#author a, p#keywords a {
  font-size: 100%;
}

/* line 70, ../../app/stylesheets/default.sass */
div#bottom_links {
  margin-top: 10px;
}

/* line 73, ../../app/stylesheets/default.sass */
h1 {
  font-size: 200%;
  text-shadow: 1px 1px 1px black;
}

/* line 77, ../../app/stylesheets/default.sass */
form.formtastic li, ul li {
  list-style-type: none;
}

/* line 79, ../../app/stylesheets/default.sass */
ol {
  padding-left: 20px;
  font-weight: bold;
}
/* line 83, ../../app/stylesheets/default.sass */
ol li div {
  font-weight: normal;
}

/* line 86, ../../app/stylesheets/default.sass */
ul li:hover {
  background: white;
}

/* line 91, ../../app/stylesheets/default.sass */
table tr:hover {
  background: white;
}
/* line 93, ../../app/stylesheets/default.sass */
table tr td {
  padding: 0px 2px;
}
