/* line 12, ../../app/stylesheets/form.sass */
div.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

/* line 17, ../../app/stylesheets/form.sass */
div.form {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  border: 2px solid #777777;
  padding: 10px;
  -moz-box-shadow: #777777 5px 5px 5px 0;
  -webkit-box-shadow: #777777 5px 5px 5px 0;
  -o-box-shadow: #777777 5px 5px 5px 0;
  box-shadow: #777777 5px 5px 5px 0;
  background-image: -webkit-gradient(linear, 0% 0%, 100% 0%, color-stop(0%, #ffffff), color-stop(33%, #4b7399), color-stop(100%, #ffffff));
  background-image: -moz-linear-gradient(left, #ffffff 0%, #4b7399 33%, #ffffff 100%);
  background-image: linear-gradient(left, #ffffff 0%, #4b7399 33%, #ffffff 100%);
}

/* line 32, ../../app/stylesheets/form.sass */
form li a {
  margin-left: 160px;
}
/* line 34, ../../app/stylesheets/form.sass */
form li img {
  margin: 3px 0 0 163px;
}
/* line 36, ../../app/stylesheets/form.sass */
form li label:nth-child(1) {
  float: left;
  text-align: right;
  width: 150px;
  margin-right: 10px;
}
/* line 38, ../../app/stylesheets/form.sass */
form li textarea {
  width: 550px;
  height: 200px;
}
/* line 41, ../../app/stylesheets/form.sass */
form li textarea.reference {
  height: 50px;
}
/* line 44, ../../app/stylesheets/form.sass */
form li.string input.number {
  width: 100px;
}
/* line 46, ../../app/stylesheets/form.sass */
form li.string input.short {
  width: 194px;
}
/* line 48, ../../app/stylesheets/form.sass */
form li.string input {
  width: 550px;
}
/* line 51, ../../app/stylesheets/form.sass */
form li.numeric input {
  width: 100px;
}
/* line 53, ../../app/stylesheets/form.sass */
form li.error {
  background-image: -webkit-gradient(linear, 0% 0%, 100% 0%, color-stop(0%, #ffffff), color-stop(33%, #ff0000), color-stop(100%, #ffffff));
  background-image: -moz-linear-gradient(left, #ffffff 0%, #ff0000 33%, #ffffff 100%);
  background-image: linear-gradient(left, #ffffff 0%, #ff0000 33%, #ffffff 100%);
}
/* line 55, ../../app/stylesheets/form.sass */
form li.error p.inline-errors {
  margin-left: 160px;
}
/* line 58, ../../app/stylesheets/form.sass */
form li#article_paper_input label {
  float: left;
  text-align: right;
  width: 177px;
}
/* line 62, ../../app/stylesheets/form.sass */
form li#article_paper_input label input {
  margin-left: 10px;
  float: right;
}
/* line 66, ../../app/stylesheets/form.sass */
form li#article_private_input label {
  float: left;
  text-align: right;
  width: 177px;
}
/* line 70, ../../app/stylesheets/form.sass */
form li#article_private_input label input {
  margin-left: 10px;
  float: right;
}

/* line 75, ../../app/stylesheets/form.sass */
form input.submit {
  margin: 5px 0 0 160px;
}
