<% title "Edit Author" %>

<% content_for :link do %>
<div id="bottom_links">
  <%= link_to "Show", @author %>
  <%= link_to "Delete", @author, :confirm => sure?, :method => :delete %>
</div>
<% end %>

<%= render 'form' %>
