<% title @author.straight_name %>

<div class="form">
<% unless @articles.empty? %>
<div id="articles">
  <strong><%= pl(:article) %>:</strong>
  <ol>
  <% @articles.each do |article| %>
  <li>
    <div>
      <%= render "articles/long_reference", :article => article, :ex => @author %>
    </div>
  </li>
  <% end %>
  </ol>
</div>
<% end %>

<div id="bottom_links">
  <%= link_to t(:edit), edit_author_path(@author) if can? :edit, @author %> 
  <% if can? :destroy, @author %>
    | <%= link_to t(:delete), @author, :confirm => 'Are you sure?', :method => :delete %>
  <% end %>
</div>
</div>
