<tr>
  <td><%= keyword.name %></td>
  <td><%= link_to t(:show), keyword %></td>
  <td><%= link_to t(:edit), edit_keyword_path(keyword) if can? :edit, keyword %></td>
  <td><%= link_to t(:del), keyword, :confirm => 'Are you sure?', :method => :delete if can? :destroy, keyword%></td>
</tr>
